body{
	font-size: 16px;
    background-color: #eeeeee;
    margin:0 auto;
}

main{
	margin: 0 auto;
	width: 80%;
    font-size: 18px;
}

.katjakaj{
    float: right;
    margin-top: 2%;
    border: solid;
}

.caprademonimg{
    float: left;
    border: solid;
    margin-right: 10px;
    margin-bottom: 25px;
}

.p1{
    margin-right: 30%;
}

.p2{
    margin-left: 25%;
}

.caprademon{
    margin-top: 5%;
}

.capradogs{
    float-right;
}

.banner{
    margin-top:10px;
    border: solid;
}

nav ul li{
    font-size: 2em;
    display: inline;
    margin: 40px;

}

nav {
    background-color: #c1c1c1;
    height: 45px;
    border: solid;
}

ul{
    margin-top: 0px;
}

li {
}

.startmen {
    margin-left: 420px;
}

a {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: underline;
}